html {
    background: linear-gradient(180deg, #1f2444 28.13%, #2e265f 72.4%, #3e2f4d 94.79%);
    background-repeat: no-repeat;
    min-height: 100vh;
}

li,
h1,
p,
label {
    color: white;
}

h1 {
    margin: 0;
    font-size: 4.42vw;
    font-weight: bold;
    margin-top: 2.96vw;
}

main {
    margin-top: 6.5vw;
}

@media (min-width: 600px) {
    .content {
        margin-top: 2vw;
        margin-bottom: 4vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .text-content {
        margin-right: 1fr;
    }

    p {
        margin-bottom: 1.5vw;
    }

    .images-content {
        width: 8vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .form-content {
        width: 40vw;
    }

    .field-item {
        display: flex;
        flex-direction: column;
        width: 40vw;
        margin-bottom: 2vw;
    }

    .input {
        margin-top: 1vw;
        padding: 1.5vw 1vw;
        border-radius: 0.5vw;
        border: none;
        font-family: 'Fredoka', sans-serif;
        font-weight: bold;
    }

    input:focus {
        outline: none;
    }

    select:focus {
        outline: none;
    }

    .message-content {
        margin-top: 1vw;
        width: 40vw;
        height: 20vw;
        border-radius: 0.5vw;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-family: 'Fredoka', sans-serif;
        font-weight: bold;
        background-color: white;
    }

    .message-content #message {
        text-align: left;
        word-wrap: break-word;
        width: 90%;
        height: 70%;
    }

    #message:focus {
        outline: none;
    }

    .footer-message {
        margin-bottom: 1vw;
        width: 90%;
        padding: 0.5vw 1vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        border-radius: 0 0 0.5vw 0.5vw;
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    }

    .footer-message p {
        margin: 0;
        color: #5A69A4;
        font-weight: bold;
    }

    .footer-message button {
        display: inline-block;
        padding: 1.5vw 1vw 1vw 1vw;
        background-image: url("../images/button_bg.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-color: transparent;
        color: white;
        border: none;
        font-family: 'Fredoka', sans-serif;
        font-weight: bold;
    }

    #feedback {
        color: #FF0000;
        display: none;
        text-align: start;
        font-weight: bold;
    }
}

@media (max-width: 599px) {
    * {
        font-size: large;
    }

    main {
        margin-top: 16vw;
    }

    h1 {
        font-size: 8vw;
    }

    .content {
        margin-top: 8vw;
        margin-bottom: 12vw;
    }

    .text-content {
        margin-right: 1fr;
    }

    p {
        margin-bottom: 6vw;
    }

    .images-content {
        width: 40vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .form-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 8vh;
        width: 90vw;
    }

    .field-item {
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin-bottom: 8vw;
    }

    .input {
        margin-top: 4vw;
        padding: 4vw 2vw;
        border-radius: 1vw;
        border: none;
        font-family: 'Fredoka', sans-serif;
        font-weight: bold;
    }

    input:focus {
        outline: none;
    }

    select:focus {
        outline: none;
    }

    .message-content {
        margin-top: 4vw;
        width: 90vw;
        height: 40vh;
        border-radius: 1vw;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-family: 'Fredoka', sans-serif;
        font-weight: bold;
        background-color: white;
    }

    .message-content #message {
        text-align: left;
        word-wrap: break-word;
        width: 90%;
        height: 70%;
    }

    #message:focus {
        outline: none;
    }

    .footer-message {
        margin-bottom: 1vw;
        width: 90%;
        padding: 0.5vw 1vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        border-radius: 0 0 0.5vw 0.5vw;
    }

    .footer-message p {
        margin: 0;
        color: #5A69A4;
        font-weight: bold;
    }

    #feedback {
        color: #FF0000;
        display: none;
        text-align: center;
        font-size: medium;
        font-weight: bold;
    }

    .footer-message button {
        display: inline-block;
        padding: 5vw 2vw 4vw 2vw;
        background-image: url("../images/button_bg.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        background-color: transparent;
        color: white;
        border: none;
        font-family: 'Fredoka', sans-serif;
        font-weight: bold;
        font-size: medium;
    }
}