html {
    background: radial-gradient(78.94% 78.94% at 50% 50%, #273574 38.63%, #2B255A 73.42%, #1F2444 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
}

p {
    color: black;
}

li,
h1 {
    color: white;

}

h1 {
    margin: 0;
    font-size: 4.42vw;
    font-weight: bold;
    margin-top: 6.96vw;
}

@media (min-width: 600px) {
    #character-content {
        margin-top: -2vw;
        margin-left: 35.8vw;
        display: flex;
    }

    .balloon {
        /* position: relative; */
        width: 30.2vw;
        height: 5.5vw;
        background-color: #F2F2F2;
        border-radius: 0.52vw;
        padding: 0.52vw;
        margin-bottom: 1.04vw;
    }

    .triangle {
        margin-left: -0.5vw;
        margin-top: 4vw;
        width: 0;
        height: 0;
        border-top: 1.04vw solid transparent;
        border-bottom: 1.04vw solid transparent;
        border-left: 2.0vw solid #F2F2F2;
    }

    .balloon>p {
        padding: 0.5vw;
        font-size: 1.4vw;
    }

    #img-frog {
        margin-left: 1vw;
        /* margin-top: 0.5vw; */
        width: 10.57vw;
        height: 9.89vw;
    }

    #img-frog>img {
        width: 100%;
        height: 100%;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .map-content {
        position: relative;
    }

    .map-content img,
    .location-content img {
        width: 100%;
        height: 100%;
    }

    .graduate-location {
        position: absolute;
        z-index: 2;
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        align-content: space-around;
    }

    #name {
        padding-top: 4vw;
    }

    #img-graduate {
        margin-top: 4vw;
    }

    .location-content {
        cursor: pointer;
        width: 2vw;
        height: 2.5vw;
    }

    .location-content {
        transition: background-color 0.3s ease;
    }

    .location-content:hover {
        color: #cccccc;
    }

    .name-text {
        margin-left: 0.2vw;
        display: none;
        font-weight: bold;
        color: white;
    }

    .graduate-location:hover .name-text {
        display: block;
    }

    .popup {
        display: none;
        padding: 0.5vw;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }

    .card {
        margin-top: 2vw;
        background-color: #fff;
        width: 34.5vw;
        height: 40.1vw;
        border-radius: 0.6vw;
        padding-bottom: 0.8vw;
    }

    .popup.show {
        display: flex;
    }

    .header-card {
        padding: 0.5vw;
        background-color: #FF5959;
        border: none;
        border-top-left-radius: 0.5vw;
        border-top-right-radius: 0.5vw;
        display: flex;
        align-items: center;
    }

    #but {
        display: flex;
        justify-content: flex-end;
        padding-right: 1vw;
    }

    button {
        width: 2.2vw;
        height: 2.2vw;
        background-color: white;
        border: none;
        border-radius: 50%;
        padding: 0.1vw;
        font-weight: bold;
    }

    #card-title {
        width: 100%;
        padding-bottom: 0.2vw;
    }

    h2 {
        text-align: center;
        font-size: 2.39vw;
        color: white;
        font-weight: 400;
    }

    h3 {
        padding-bottom: 0.5vw;
        font-size: 1.7vw;
    }

    .content-card {
        padding-left: 2vw;
        padding-bottom: 1.5vw;
        padding-right: 1vw;
        margin-top: 0.5vw;
        margin-right: 0.5vw;
        height: 34.5vw;
        overflow: auto;
    }

    .content-card::-webkit-scrollbar {
        width: 8px;
        /* largura da barra de rolagem */
    }

    .content-card::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 8px;
        /* cor de fundo da pista */
    }

    .content-card::-webkit-scrollbar-thumb {
        background: #ff595969;
        border-radius: 8px;
        /* cor do botão de rolagem */
    }

    .content-card::-webkit-scrollbar-thumb:hover {
        background: #FF5959;
        border-radius: 8px;
        /* cor do botão de rolagem quando hover */
    }

    #content-1 {
        display: flex;
        justify-content: space-between;
    }

    #content-1 #img-graduate-card {
        width: 11vw;
        height: 11vw;
        margin-top: 1vw;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
    }

    #info {
        width: 18vw;
        padding: 1vw;
    }

    .desc-items {
        margin-top: 0.8vw;
    }

    #content-2,
    #content-3 {
        padding-top: 1.2vw;
    }

    .name-contact {
        display: flex;
        align-items: center;
    }

    .img-contact-content {
        padding-left: 0.5vw;
        margin-top: -0.5vw;
        width: 1.5vw;
        height: 1.5vw;
    }

    .img-contact-content img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 599px) {
    * {
        font-size: large;
    }

    main {
        margin-top: 16vw;
    }

    h1 {
        margin-left: 10vw;
        font-size: 8vw;
    }

    #character-content {
        margin-top: 8vw;
        margin-left: 20vw;
        display: flex;
        flex-direction: column;
    }

    .balloon {
        /* position: relative; */
        width: 46vw;
        height: 20vw;
        background-color: #F2F2F2;
        border-radius: 0.52vw;
        padding: 3vw;
        /* margin-bottom: 1.04vw; */
    }

    .triangle {
        margin-left: 45vw;
        margin-top: -5vw;
        width: 0;
        height: 0;
        border-top: 4vw solid transparent;
        border-bottom: 4vw solid transparent;
        border-right: 4vw solid #F2F2F2;
    }

    .balloon>p {
        font-size: 4vw;
    }

    #img-frog {
        margin-left: 44vw;
        margin-top: 2vw;
        width: 26vw;
        height: 24vw;
    }

    #img-frog>img {
        width: 100%;
        height: 100%;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 100vw;
    }

    .map-content {
        margin-top: 8vw;
        width: 100vw;
        overflow-x: auto;
        position: relative;
    }

    .map-content img,
    .location-content img {
        width: 200%;
    }

    .graduate-location {
        position: absolute;
        z-index: 2;
        display: flex;
        align-items: center;
        align-content: space-around;
    }

    .location-content {
        width: 3vw;
        height: 3.5vw;
    }

    .location-content {
        transition: background-color 0.3s ease;
    }

    .location-content:hover {
        color: #cccccc;
    }

    .name-text {
        margin-left: 0.2vw;
        display: none;
        font-weight: bold;
        color: white;
    }

    /* .graduate-location:hover .name-text {
        display: block;
    } */

    .popup {
        display: none;
        padding: 0.5vw;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }

    .card {
        margin-top: 5vw;
        background-color: #fff;
        width: 90vw;
        height: 80vh;
        border-radius: 1vw;
    }

    .popup.show {
        display: flex;
    }

    .header-card {
        padding: 3vw;
        background-color: #FF5959;
        border: none;
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
        display: flex;
        align-items: center;
    }

    #but {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button {
        width: 8vw;
        height: 8vw;
        background-color: white;
        border: none;
        border-radius: 50%;
        padding-top: 0.8vw;
        font-weight: bold;
    }

    #card-title {
        width: 100%;
    }

    h2 {
        text-align: center;
        color: white;
        font-weight: 400;
    }

    h3 {
        padding-bottom: 3vw;
    }

    .content-card {
        padding-left: 6vw;
        padding-bottom: 2vw;
        padding-right: 4vw;
        margin-top: 2.5vw;
        margin-right: 2vw;
        height: 70vh;
        overflow: auto;
    }

    .content-card::-webkit-scrollbar {
        width: 8px;
        /* largura da barra de rolagem */
    }

    .content-card::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 8px;
        /* cor de fundo da pista */
    }

    .content-card::-webkit-scrollbar-thumb {
        background: #ff595969;
        border-radius: 8px;
        /* cor do botão de rolagem */
    }

    .content-card::-webkit-scrollbar-thumb:hover {
        background: #FF5959;
        border-radius: 8px;
        /* cor do botão de rolagem quando hover */
    }

    #content-1 {
        margin-top: 4vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #content-1 #img-graduate-card {
        width: 50vw;
        height: 50vw;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        margin-bottom: 4vw;
    }

    #name-card {
        font-size: 24px;
        text-align: center;
        padding-bottom: 4vw;
    }

    #info {
        width: 100%;
        padding: 1vw;
    }

    .desc-items {
        margin-top: 4vw;
    }

    .desc-items p {
        padding-top: 1vw;
    }

    #content-2,
    #content-3 {
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

    .name-contact {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img-contact-content {
        padding-left: 2vw;
        margin-top: -2.5vw;
        width: 6vw;
        height: 6vw;
    }

    .img-contact-content img {
        width: 100%;
        height: 100%;
    }
}