* {
    border: none;
    text-decoration: none;
}


html {
    --grey: #404040;
    --green: #345E2F;
    /* 1rem = 16px (User Agent) = 100% (User Agent) */
    /* 10px */
    scroll-behavior: smooth;
    overflow-x: hidden;


}

@media (max-width: 599px) {
    .main-container {
        background-image: url(../images/main_bg_mobile.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        overflow-x: hidden;
        
    
    }

    #animation {
        width: 80vw;
        height: 100vh;
        position: absolute;
        overflow: hidden;
        display: none;
        z-index: 998;
      }
  
      #animation img {
        position: fixed;
        width: 1920px;
        height: 1080px;  
        top: 0;
        left: 0;
        opacity: 0;
      }

    .grid {
        margin-left: 5vw;
        min-height: 392vw;
        min-width: 90vw;
        display: grid;
        grid-template-columns: repeat(12, 6.66vw);
        grid-template-rows: repeat(32, 1fr);
    }
    
    .balloon {
        /* position: relative; */
        grid-column-start: 4;
        
        grid-row-start: 2;
        
        align-items: center;
        margin-top: -12vw;
        height: fit-content;
        min-height: 15.86vw;
        width: 37.22vw;
        
        
        margin-bottom: 1.04vw;
        z-index: 6;
        
    }
    .balloon>p {
        font-weight: 500;
        border-radius: 2.52vw;

        width: 33vw;
        background-color: #F2F2F2;
        padding-top: 5vw;
        padding-bottom: 5vw;
        padding-left: 2.64vw;
        padding-right: 2.5vw;
        font-size: 18px;
    }

    #dog {
        grid-column-start: 9;    
        grid-row-start: 3;
        animation: float 4s ease-in-out infinite;
        margin-top: -8.6vw;
        
    
    
    }
    
    #dog>img {
        width: 26.5vw;
        
    
    }
    .triangle {
        z-index: -1;
        margin-top: -2.6vw;
        margin-left: 29.8vw;
        rotate: 240deg;
        width: 0;
        height: 0;
        border-top: 2vw solid transparent;
        border-bottom: 4vw solid transparent;
        border-right: 6vw solid #F2F2F2;
        
    }
    #floating-text1 {
        z-index: 12;
        color: white;
        /* margin-left: -3vw; */
        grid-column-start: 1;
        grid-column-end: 12;
        grid-row-start: 7;
        grid-row-end: 7;
        width: 90vw;
        height: 9.39vw;
        font-weight: 400;
    }
    
    #floating-text1>p {
        font-size: 17px;
    }
    
    #floating-text1>p>span {
        font-size:26px

    }

    #floating-text2 {
        z-index: 12;

        color: white;
        grid-column-start: 3;
        grid-column-end: 12;
        grid-row-start: 12;
        grid-row-end: 12;
        font-weight: 400;
        width: 75vw;
        /* margin-left: 4.53vw; */
    }
    
    #floating-text2>p {
        font-size: 18px;
    }
    
    
    #floating-text2>p>span {
        font-weight: 500;
    }

    #floating-text3 {
        z-index: 12;

        color: white;
        grid-column-start: 0;
    
        grid-row-start: 16;
        grid-row-end: 16;
    
        width: 75.20vw;
        font-weight: 400;
    }
    
    #floating-text3>p {
        font-size: 18px;
    }
    
    #floating-text3>p>span {
        font-weight: 500;
    }

    #arrow {
        display: none;
    }

    .frame { /* coruja */
        position: absolute;
        margin-left: -6vw;
        margin-top: -6vw;
        width: 20vw;
        height: 20vw;
        opacity: 0;
    }

    #corujacol4row29 {
        z-index: 8;
        grid-column-start: 6;
        grid-row-start: 32;
        margin-top: -41.5vw;
        margin-left: -3.5vw;
        width: 20vw;
        height: 20vw;
        /* background-image: url(../images/home/owl_frames/coruja1.png); */
        background-size: contain;
        transition: opacity 0.5s;
        background-repeat: no-repeat;
        background-position: center;
        /* opacity: 1; */
        /* transition: width 0.3s, height 0.3s, margin-top 0.3s, margin-left 0.3s; */
    }

    #botaotrilhas {
        /* margin-left: 3vw; */
        z-index: 990;
        width: 20vw;
        height: 20vw;
        background-color: transparent;
        
    
    }

    #cachorrocol8row33 {
        grid-column-start: 4;
        grid-row-start: 32;
        margin-top: -6.9vw;
        margin-left: -5.8vw;
        width: 22vw;
        height: 22vw;
        background-color: transparent;
        
    }

    #botaoprojetos {
        z-index: 989;
        width: 22vw;
        height: 22vw;
        background-color: transparent;
    }

    .frame-cachorro {
        position: absolute;
        margin-left: -5.4vw;
        margin-top: -5.4vw;
        width: 22vw;
        height: 22vw;
        opacity: 0;
    }

    #botaoegressos {
        width: 10.52vw;
        height: 21.93vw;
        /* background-image: url(../images/frog_graduates.png); */
        background-size: contain;
        background-color: transparent;

        background-repeat: no-repeat;
        background-position: center;
        transition: background-image 0.25s ease;
    }

    #sapocol10row31 {
        grid-column-start: 11;
        grid-row-start: 32;
        margin-left: 0.4vw;
        margin-top: 2.1vw;
        width: 10.52vw;
        height: 21.93vw;
    }

    .frame-sapo{
        position: absolute;
        margin-left: -12.4vw;
        margin-top: -12.4vw;
        width: 24vw;
        height: 24vw;
        opacity: 0;
    }

    .ellipsis-text.projects {
        width: 15vw;
        
    }

    .ellipsis-text.projects.desktop{
        display: none;
    }

    .dog_text {
        z-index: 7;
        grid-column-start: 4;
        grid-row-start: 32;
        margin-left: 3.7vw;
        margin-top: -11vw;
    }
    
    .ellipsis-text.trails {
        width: 15vw;
    }

    .ellipsis-text.trails.desktop {
        display: none;
    }

    .owl_text {
        z-index: 7;
        grid-column-start: 7;
        grid-row-start: 31;
        margin-left: -3.8vw;
        margin-top: -10.5vw;
    }
    
    .ellipsis-text.graduates {
        width: 15vw;
    }

    .ellipsis-text.graduates.desktop{
        display: none;
    }

    .frog_text {
        grid-column-start: 11;
        grid-row-start: 32;
        margin-top: -9vw;
        margin-left: -2vw;
    }


    
}

@media (min-width: 600px) {
    .main-container {
        background-image: url(../images/main_bg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        overflow-x: hidden;
        
    
    }

    #animation {
        width: 80vw;
        height: 100vh;
        position: absolute;
        overflow: hidden;
        display: none;
        z-index: 998;
      }
  
      #animation img {
        position: fixed;
        width: 100vw;
        height: 100%;  
        top: 0;
        left: 0;
        opacity: 0;
      }

    .balloon {
        /* position: relative; */
        grid-column-start: 5;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 2;
        align-items: center;
        margin-top: -3vw;
        height: 10vw;
        width: 21vw;
        background-color: #F2F2F2;
        border-radius: 1.8vw;
        padding: 0.52vw;
        margin-bottom: 1.04vw;
    }

    .grid {
        margin-left: 10vw;
        min-height: 392vw;
        min-width: 80vw;
        display: grid;
        grid-template-columns: repeat(12, 6.66vw);
        grid-template-rows: repeat(32, 1fr);
    }

    .balloon>p {
        font-weight: 400;
        max-width: 18.02vw;
        min-width: 18.02vw;
        padding: 1.63vw;
        font-size: 1.63vw;
    }

    #dog {
        grid-column-start: 8;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 4;
        margin-top: 6.66vw;
        margin-left: 2.5vw;
        animation: float 4s ease-in-out infinite;
    
    
    }
    
    #dog>img {
        min-width: 22.1vw;
        max-width: 22.1vw;
    
    }
    .triangle {
        
        margin-top: -3vw;
        margin-left: 21vw;
        
        width: 0;
        height: 0;
        border-top: 1.04vw solid transparent;
        border-bottom: 1.04vw solid transparent;
        border-left: 2.0vw solid #F2F2F2;
    }
    #floating-text1 {
        z-index: 12;

        color: white;
        grid-column-start: 1;
    
        grid-row-start: 7;
        grid-row-end: 7;
        width: 49vw;
        height: 9.39vw;
        font-weight: 400;
    }
    
    #floating-text1>p {
        font-size: 1.88vw;
    }
    
    #floating-text1>p>span {
        font-size: 3.65vw
    }

    #floating-text2 {
        z-index: 12;

        color: white;
        grid-column-start: 5;
        grid-column-end: 12;
        grid-row-start: 12;
        grid-row-end: 12;
        font-weight: 400;
        width: 48.75vw;
        margin-left: 4.53vw;
    }
    
    #floating-text2>p {
        font-size: 1.88vw;
    }
    
    
    #floating-text2>p>span {
        font-weight: 500;
    }

    #floating-text3 {
        z-index: 12;

        color: white;
        grid-column-start: 0;
    
        grid-row-start: 16;
        grid-row-end: 16;
    
        width: 51.20vw;
        font-weight: 400;
    }
    
    #floating-text3>p {
        font-size: 1.88vw;
    }
    
    #floating-text3>p>span {
        font-weight: 500;
    }

    #arrow {
        grid-column-start: 6;
        width: 6.02vw;
        height: 6.42vw;
        grid-column-end: 6;
        grid-row-start: 3;
        /* grid-row-end: 4; */
        margin-top: 6.8vw;
        margin-left: 1.1vw;
     /*REVISAR ESSE MARGIN*/
    }

    #arrow2 {
        grid-column-start: 6;
        width: 6.02vw;
        height: 6.42vw;
        grid-column-end: 6;
        grid-row-start: 9;
        /* grid-row-end: 4; */
        /* margin-top: 4.8vw; */
        margin-left: 1.1vw;
    }

    #arrow3 {
        grid-column-start: 6;
        width: 6.02vw;
        height: 6.42vw;
        /* grid-column-end: 6; */
        grid-row-start: 14;
        /* grid-row-end: 4; */
        margin-top: -4.8vw;
        margin-left: 1.1vw;
    }

    #arrow4 {
        grid-column-start: 6;
        width: 6.02vw;
        height: 6.42vw;
        /* grid-column-end: 6; */
        grid-row-start: 18;
        /* grid-row-end: 4; */
        margin-top: -4.8vw;
        margin-left: 1.1vw;
    }

    #botaotrilhas {
        /* margin-left: 3vw; */
        z-index: 990;
        width: 14.98vw;
        height: 16.98vw;
        background-color: transparent;   
    }

    .frame{ /*coruja*/
        position: absolute;
        margin-left: -7.9vw;
        margin-top: -6vw;
        width: 11.98vw;
        height: 11.98vw;
        opacity: 0;
    }

    #corujacol4row29 {
        z-index: 8;
        grid-column-start: 5;
        grid-row-start: 31;
        margin-left: .8vw;
        margin-top: -16.1vw;
        width: 11.98vw;
        height: 11.98vw;
        
    }

    #cachorrocol8row33 {
        z-index: 989;
        grid-column-start: 4;
        grid-row-start: 32;
        margin-top: -7.8vw;
        margin-left: -4.8vw;
        width: 10.52vw;
        height: 10.52vw;
        background-color: transparent;
      }
    
    #botaoprojetos {
        width: 16.52vw;
        height: 15.52vw;
        background-color: transparent;
    }

    .frame-cachorro{
        position: absolute;
        margin-left: -8.9vw;
        margin-top: -3.9vw;
        width: 10.52vw;
        height: 10.52vw;
        opacity: 0;
    }

    #botaoegressos {
        width: 16.32vw;
        height: 19.32vw;
        background-color: transparent;
        margin-left: -2vw;
        transition: background-image 0.25s ease;
      }

    

    #sapocol10row31 {
        z-index: 989;
        grid-column-start: 8;
        grid-row-start: 32;
        margin-left: -3.3vw;
        margin-top: -8.6vw;
        width: 14.32vw;
        height: 14.32vw;
      }

      .frame-sapo {
        position: absolute;
        margin-left: -10.5vw;
        margin-top: -7.9vw;
        width: 14.32vw;
        height: 14.32vw;
        opacity: 0;
      }

    .ellipsis-text.projects {
        width: 8.18vw;
        height: 4.9vw;
    }

    .ellipsis-text.projects.mobile{
        display: none;
    }

    .dog_text {
        z-index: 7;
        grid-column-start: 4;
        grid-row-start: 32;
        margin-left: 2vw;
        margin-top: -7vw;
        height: 5vw;
        width: 9vw;
    }
    
    .ellipsis-text.trails {
        width: 6.82vw;
    }

    .ellipsis-text.trails.mobile {
        display: none;
    }

    .owl_text {
        z-index: 7;
        grid-column-start: 7;
        grid-row-start: 31;
        margin-left: -4.6vw;
        margin-top: -15.5vw;
        height: 5vw;
        width: 7vw;
      }
    
    .ellipsis-text.graduates {
        width: 8.39vw;
    }

    .ellipsis-text.graduates.mobile{
        display: none;
    }
    
    .frog_text {
        grid-column-start: 8;
        grid-row-start: 32;
        margin-top: -9vw;
        margin-left: 2vw;
    }
    
    #cachorrocol8row33>.ellipsis-text {
        margin-left: 7.9vw;
        margin-bottom: 5.7vw;
    }
    
    #sapocol10row31>.ellipsis-text {
        margin-left: 7.2vw;
        margin-bottom: 8.3vw;
    }

}

/*1920px = 98vw
SEMPRE USAR VW, usando calc de regra de 3*/

body{
    background-color: var(--green);
}
button {
    cursor: pointer;
}

#home-main {
    margin: auto;
    width: 100vw;
    
}



@keyframes float {
    0% {

        transform: translatey(0px);
    }

    50% {

        transform: translatey(-1vw);
    }

    100% {

        transform: translatey(0px);
    }
}

@keyframes float_text {
    0% {

        transform: translatey(0px);
    }

    50% {

        transform: translatey(-.3vw);
    }

    100% {

        transform: translatey(0px);
    }
}

@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(-1.04vw, 1.04vw);
        opacity: 0;
    }
}

@keyframes sdb05 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0, 2.04vw);
        opacity: 0;
    }
}

@keyframes coruja {
    
    12.5% {
        background-image: url("../images/home/owl_frames/coruja1.png");
    }

    25%{
        background-image: url("../images/home/owl_frames/coruja2.png");
    }

    37.5%{
        background-image: url("../images/home/owl_frames/coruja3.png");
    }

    50%{
        background-image: url("../images/home/owl_frames/coruja4.png");
    }

    62.5%{
        background-image: url("../images/home/owl_frames/coruja5.png");
    }

    75% {
        background-image: url("../images/home/owl_frames/coruja6.png");
    }

    87.5%{
        background-image: url("../images/home/owl_frames/coruja7.png");
    }

    100% {
        background-image: url("../images/home/owl_frames/coruja8.png");
    }
}

@keyframes cachorro{
    15%{
        background-image: url("../images/home/dog_frames/cachorro2.png");
    }

    30%{
        background-image: url("../images/home/dog_frames/cachorro3.png");
    }

    45%{
        background-image: url("../images/home/dog_frames/cachorro4.png");
    }

    60%{
        background-image: url("../images/home/dog_frames/cachorro5.png");
    }

    75%{
        background-image: url("../images/home/dog_frames/cachorro6.png");
    }


    100%{
        background-image: url("../images/home/dog_frames/cachorro6.png");
    }
}

@keyframes moverNuvem {
    0% {
      transform: translateX(-90.38vw);
    }
    100% {
      transform: translateX(100vw);
    }
  }



/*alinhar elemento no centro da celula
align-items: center;*/



#welcome {
    font-weight: 400;
}

#botaoscrollprabaixo>img {
    width: 6.02vw;
    height: 3.42vw;
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
}

#botaoscrollprabaixo {
    background-color: transparent;
    width: 6.02vw;
    height: 9.42vw;
}


.frame.visible {
    opacity: 1;
}

.ellipsis-text {

    animation: float_text 1s ease-in-out infinite;
}





.cloud-1{
    background-image: url(../images/home/cloud1.png);
    background-size: cover;
    width: 39.95vw;
    height: 12.34vw;
    grid-row-start: 22;
    grid-column-start: 1;
    animation: moverNuvem 15s linear infinite;
}

.cloud-2{
    background-image: url(../images/home/cloud2.png);
    background-size: cover;
    width: 38.59vw;
    height: 13.28vw;
    margin-top: -8.39vw;
    grid-row-start: 24;
    grid-column-start: 7;
    animation: moverNuvem 8s linear infinite;
}

.cloud-3{
    background-image: url(../images/home/cloud3.png);
    background-size: cover;
    width: 29.39vw;
    height: 9.22vw;
    margin-top: -3.07vw;
    grid-row-start: 25;
    grid-column-start: 1;
    animation: moverNuvem 15s linear infinite;
    animation-direction: reverse;
}

.cloud-4{
    background-image: url(../images/home/cloud4.png);
    background-size: cover;
    width: 28.39vw;
    height: 10.63vw;
    grid-row-start: 26;
    grid-column-start: 8;
    animation: moverNuvem 12s linear infinite;
}










.frame-cachorro.visible {
    opacity: 1;
}

.frame-sapo.visible{
    opacity: 1;
}




    #botaoegressos{
        z-index: 990;
    }