* {
    margin: 0;
}

main {
    margin: auto;
    width: 80vw;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Rubik', sans-serif;
}

p,
a {
    font-family: 'Fredoka', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

main {
    margin-top: 3.5vw;
}

@media (min-width:600px) {
    .global-menu-hamburguer {
        display: none;
    }

    .global-nav {
        top: 0;
        background-color: rgba(32, 32, 32, 0.3);
        background-blend-mode: multiply;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        z-index: 999;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }

    .logo-content {
        width: 6vw;
        margin-left: 10vw;
    }

    #smd-logo {
        width: 100%;
        height: 100%;
    }

    .global-menu {
        list-style-type: none;
        display: flex;
        margin-right: 10vw;
    }

    .global-menu-item {
        padding: 0.2vw;
        margin-left: 3.38vw;
        list-style: none;
        color: white;
        font-size: larger;
        text-decoration: none;
        position: relative;
    }

    .global-menu-item a {
        font-family: 'Rubik', sans-serif;
    }

    .global-menu-item::after {
        /* bolinha */
        content: "";
        display: block;
        width: 0.4vw;
        height: 0.4vw;
        background-color: transparent;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        transition: background-color 0.3s ease;
    }

    .global-menu-item.active::after {
        background-color: white;
    }

    .global-menu-item:not(.active):hover {
        color: #cccccc;
    }

    #footer {
        background: rgba(32, 32, 32, 0.10);
        padding-top: 1.15vw;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-bottom: 1.15vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
    }

    #footer a {
        margin-right: 2.5vw;
        font-family: 'Rubik', sans-serif;
        font-size: large;
    }

    #footer img {
        width: 70%;
        height: 70%;
    }
}

@media (max-width: 599px) {
    .global-menu-content {
        display: none;
    }

    .global-nav {
        top: 0;
        background-color: rgba(32, 32, 32, 0.3);
        background-blend-mode: multiply;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        z-index: 999;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

    .logo-content {
        width: 16vw;
        margin-left: 10vw;
    }

    #smd-logo {
        width: 100%;
        height: 100%;
    }

    .hamburquer-menu-content {
        margin: 0;
        position: fixed;
        margin-top: -6.5vw;
        right: -65vw;
        width: 65vw;
        height: 100vh;
        padding-top: 5vw;
        padding-bottom: 5vw;
        background-color: rgb(32, 32, 32);
        transition: right 0.3s ease;
    }

    .hamburquer-menu-content.active {
        right: 0;
    }

    .global-menu {
        padding: 10vw;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        margin-top: 5vw;
        color: white;
    }

    .global-menu-item {
        margin: 0;
        list-style: none;
        color: white;
        font-size: larger;
        text-decoration: none;
        position: relative;
        padding: 2vw;
        margin-bottom: 4vw;
        text-align: start;
    }

    .global-menu-item a {
        font-family: 'Rubik', sans-serif;
    }

    .global-menu-item::after {
        /* bolinha */
        content: "";
        display: block;
        width: 1.5vw;
        height: 1.5vw;
        background-color: transparent;
        position: absolute;
        top: 4.5vw;
        left: -2.5vw;
        transform: translateX(-50%);
        border-radius: 50%;
        transition: background-color 0.3s ease;
    }

    .global-menu-item.active::after {
        background-color: white;
    }

    .global-menu-item:not(.active):hover {
        color: #cccccc;
    }

    .toggle-btn {
        position: fixed;
        font-size: 8vw;
        top: 1vw;
        right: 5vw;
        cursor: pointer;
        color: #fff;
        z-index: 9999;
    }

    #footer {
        position: absolute;
        background: rgba(32, 32, 32, 0.10);
        padding-top: 1.15vw;
        padding-left: 6vw;
        padding-right: 6vw;
        padding-bottom: 1.15vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        
        
    }

    #footer a {
        margin-right: 1.5vw;
        font-family: 'Rubik', sans-serif;
        font-size: smaller;
    }

    #img {
        display: flex;
        justify-content: end;
    }

    #footer img {
        width: 40%;
        height: 40%;
    }
}