@media (min-width: 600px) {
    body {
        background-color: var(--lightgrey);
        background-image: url(../source/bcktrilhas.png);
        background-size: cover;
        background-repeat: no-repeat;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .content {
        margin-top: 8vw;
        display: flex;
    }

    .ballon-content {
        width: 38vw;
        height: fit-content;
        background-color: white;
        border-radius: 1vw;
        text-align: left;
    }

    .menu-trails {
        padding: 0;
        width: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-item {
        width: 5.5vw;
        height: 4vw;
        margin-top: -1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: brown;
        padding: 1vw 2vw 0.5vw 2vw;
        border-radius: 1.2vw 1.2vw 0 0;
    }

    .img-content {
        max-height: 50%;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .menu-item p {
        margin-top: 0.5vw;
        color: white;
        font-family: Fredoka;
        font-weight: bold;
        font-size: smaller;
    }

    #selected {
        width: 100%;
        height: 2vw;
    }

    .triangle {
        /* margin-left: 38vw; */
        margin-top: 16vw;
        width: 0;
        height: 0;
        border-top: 1.04vw solid transparent;
        border-bottom: 1.04vw solid transparent;
        border-left: 2.0vw solid #FFFFFF;
    }

    h1 {
        margin: 0;
    }

    .text-content {
        padding-top: 3vw;
        padding-left: 4vw;
        padding-right: 2vw;
        padding-bottom: 3vw;
    }

    #trail-description {
        margin-top: 0.5vw;
        min-height: 20vw;
        max-height: 20vw;
        overflow: auto;
    }

    #trail-description::-webkit-scrollbar {
        width: 8px;
        /* largura da barra de rolagem */
    }

    #trail-description::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 8px;
        /* cor de fundo da pista */
    }

    #trail-description::-webkit-scrollbar-thumb {
        background: #441B4B;
        border-radius: 8px;
        /* cor do botão de rolagem */
    }

    #trail-description::-webkit-scrollbar-thumb:hover {
        background: #555;
        border-radius: 8px;
        /* cor do botão de rolagem quando hover */
    }

    .text-content p {
        margin-top: 2vw;
        font-size: larger;
        padding-right: 2vw;
    }

    .img-owl-content {
        margin-top: 2vw;
        margin-left: 2vw;
        height: 85vh;
    }

    #iframe-content {
        margin-top: 1vw;
        margin-left: 12%;
        padding-bottom: 0.5vw;
        border-radius: 1.25vw;
        -moz-border-radius: 1.25vw;
        -webkit-border-radius: 1.25vw;
    }

    #link {
        margin-top: 6vw;
    }
}

@media (max-width: 599px) {
    body {
        background-color: var(--lightgrey);
        background-image: url(../source/bcktrilhas.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    main {
        width: 100vw;
    }

    .content {
        margin: 0;
        width: 100vw;
        display: flex;
        flex-direction: column-reverse;
    }

    .ballon-content {
        background-color: white;
        border-radius: 1vw;
        text-align: left;
    }

    .menu-trails {
        padding: 0;
        width: 100vw;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-item {
        margin-top: -2vw;
        width: 16vw;
        height: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 4.5vw 0 4.5vw;
        border-radius: 2.5vw 2.5vw 0 0;
    }


    .img-owl-content {
        margin-top: 10vw;
        margin-left: 48vw;
        height: 20vh;
        width: 45vw;
    }

    .img-content {
        max-height: 40%;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .menu-item p {
        margin-top: 2vw;
        color: white;
        font-family: Fredoka;
        font-size: small;
    }

    #selected {
        margin-top: -1vw;
        width: 100%;
        height: 6vw;
    }

    .triangle {
        display: none;
    }

    h1 {
        margin: 0;
    }

    .text-content {
        padding-top: 8vw;
        padding-left: 8vw;
        padding-right: 4vw;
        padding-bottom: 3vw;
    }

    #trail-description {
        margin-top: 0.5vw;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 4vw;
    }

    #trail-description::-webkit-scrollbar {
        width: 8px;
        /* largura da barra de rolagem */
    }

    #trail-description::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 8px;
        /* cor de fundo da pista */
    }

    #trail-description::-webkit-scrollbar-thumb {
        background: #441B4B;
        border-radius: 8px;
        /* cor do botão de rolagem */
    }

    #trail-description::-webkit-scrollbar-thumb:hover {
        background: #555;
        border-radius: 8px;
        /* cor do botão de rolagem quando hover */
    }

    .text-content p {
        margin-top: 12vw;
        font-size: larger;
        padding-right: 2vw;
    }

    #iframe-content {
        padding-top: 5vw;
        width: 80vw;
        height: 60vw;
        border-radius: 1.25vw;
        -moz-border-radius: 1.25vw;
        -webkit-border-radius: 1.25vw;
        overflow: hidden;
    }

    iframe {
        width: 100%;
        height: 100%;
    }

    #link {
        margin-top: 20vh;
    }
}