<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Sobre Nós</title>
    <link rel="icon" type="image/x-icon" href="../images/favico.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Rubik:wght@500&family=Staatliches&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/about.css">
    <script src="../scripts/script.js" defer></script>
</head>

<body>
    <header>
        <nav class="global-nav">
            <div class="logo-content"><a href="/PortfolioSMD/index.html"><img src="../source/smd.png" alt="logo do SMD"
                        id="smd-logo"></a></div>
            <div class="global-menu-content">
                <ul class="global-menu">
                    <li class="global-menu-item" alt="projetos"><a href="projects.html">PROJETOS</a></li>
                    <li class="global-menu-item" alt="egressos"><a href="graduates.html">EGRESSOS</a></li>
                    <li class="global-menu-item" alt="trilhas"><a href="trails.html">TRILHAS</a></li>
                </ul>
            </div>
            <div class="global-menu-hamburguer">
                <div class="hamburquer-menu-content" id="hamburquer-menu-content">
                    <ul class="global-menu">
                        <li class="global-menu-item" alt="projetos"><a href="projects.html">PROJETOS</a></li>
                        <li class="global-menu-item" alt="egressos"><a href="graduates.html">EGRESSOS</a></li>
                        <li class="global-menu-item" alt="trilhas"><a href="trails.html">TRILHAS</a></li>
                        <li class="global-menu-item" alt="fale conosco"><a href="contact.html">FALE CONOSCO</a></li>
                        <li class="global-menu-item" alt="sobre nós"><a href="about.html">SOBRE NÓS</a></li>
                    </ul>
                </div>
                <div class="toggle-btn" onclick="toggleMenu()">&#9776;</div>
            </div>
        </nav>
    </header>
    <main>
        <h1>SOBRE NÓS</h1>
        <div class="group">
            <div><img src="../images/codesign.png" alt="Foto de Edmara Rocha"></div>
            <div>
                <h2>Codesign</h2>
                <p>Somos a equipe Codesign formada por alunos da disciplina de Projeto Integrado I do semestre 2023.1 do
                    curso de Sistemas e Mídias Digitais. Em conjunto com as Professoras Inga Saboia e Mara Bonates,
                    criamos um site no qual está exposto um pouco do SMD e seu impacto no mundo.</p>
            </div>
        </div>
        <div class="content">
            <div class="student">
                <div><img src="../images/about_us/edmara.jpg" alt="Foto de Edmara Rocha"></div>
                <div>
                    <h2>Edmara Rocha</h2>
                    <p>Líder e programadora da Codesign, responsável pela comunicação externa para coleta dos projetos e
                        dados dos egressos, também atuei na programação do site. Foi um projeto desafiador, mas fiquei
                        muito contente com o resultado.</p>
                </div>
            </div>
            <div class="student">
                <div><img src="../images/about_us/gustavo.png" alt="Foto de Gustavo Alex"></div>
                <div>
                    <h2>Gustavo Alex</h2>
                    <p>Programador da Codesign, responsável pela implementação do site, principalmente nos aspectos relacionados a responsividade e interatividade. 
                        Eu adoro jogar, ouvir música e assistir animes, filmes e séries.</p>
                </div>
            </div>

            <div class="student">
                <div><img src="../images/about_us/sibele.png" alt="Foto de Sibele Braga"></div>
                <div>
                    <h2>Sibele Braga</h2>
                    <p>Designer e arquiteta da informação da Codesign, também trabalhei na criação das ilustrações do
                        site, dando vida às personagens e tentando trazer um pouco da personalidade do SMD.</p>
                </div>
            </div>
            <div class="student">
                <div><img src="../images/about_us/isaac.png" alt="Foto de Isaac Duda"></div>
                <div>
                    <h2>Isaac Duda</h2>
                    <p>Designer e Revisor da equipe Codesign. Responsável pela criação de alguns cenários presentes no
                        site, também apresentei a ideia que compõe o storytelling.</p>
                </div>
            </div>
            <div class="student">
                <div><img src="../images/about_us/sophia.png" alt="Foto de Sophia Teixeira"></div>
                <div>
                    <h2>Sophia Teixeira</h2>
                    <p>Designer e revisora da Codesign, também trabalhei na produção de alguns textos presentes no site.
                        Gosto de ouvir música, meditar e assistir séries de comédia.</p>
                </div>
            </div>
            <div class="student">
                <div><img src="../images/about_us/isra.png" alt="Foto de Israel Leite"></div>
                <div>
                    <h2>Israel Leite</h2>
                    <p>Programador e Designer da Codesign.
                        Responsável pela implementação do site, principalmente nos aspectos ligados ao front-end. Gosto
                        de ouvir e tocar música, praticar esportes e desenhar.</p>
                </div>
            </div>
        </div>
        <h2 id="teacher-title">PROFESSORAS </h2>
        <div class="content">
            <div class="teacher">
                <div><img src="../images/about_us/inga.jpg" alt="Foto de Inga Saboia"></div>
                <div>
                    <h2>Inga Saboia</h2>
                    <p>Orientadora da disciplina de Projeto Integrado 1 e cliente do nosso projeto. Orientou principalmente os aspectos relacionados ao design do projeto.</p>
                </div>
            </div>
            <div class="teacher">
                <div><img src="../images/about_us/mara.png" alt="Foto de Mara Bonates"></div>
                <div>
                    <h2>Mara Bonates</h2>
                    <p>Orientadora da disciplina de Projeto Integrado 1 e cliente do nosso projeto. Orientou principalmente a parte relacionada à implementação e planejamento do projeto.</p>
                </div>
            </div>
    </main>
    <footer id="footer">
        <div id="img">
            <img src="../images/ufc.png" alt="Logo da UFC">
        </div>
    </footer>
</body>

</html>