<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Egressos</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Rubik:wght@500&family=Staatliches&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="../styles/graduates.css">
  <script src="../scripts/script.js" defer></script>
  <script src="../scripts/graduates.js" defer></script>
</head>

<body>
  <header>
    <nav class="global-nav">
      <div class="logo-content"><a href="/PortfolioSMD/index.html"><img src="../source/smd.png" alt="logo do SMD"
            id="smd-logo"></a></div>
      <ul class="global-menu-content">
        <ul class="global-menu">
          <li class="global-menu-item" alt="projetos"><a href="projects.html">PROJETOS</a></li>
          <li class="global-menu-item" alt="egressos"><a href="graduates.html">EGRESSOS</a></li>
          <li class="global-menu-item" alt="trilhas"><a href="trails.html">TRILHAS</a></li>
          </li>
        </ul>
      </ul>
    </nav>
  </header>
  <main>
    <h1>EGRESSOS</h1>
    <div id="character-content">
      <div class="balloon">
        <p>Aqui você pode dar uma olhadinha onde os talentos de SMD estão pelo mundo a fora!</p>
      </div>
      <div class="triangle"></div>
      <div id="img-frog">
        <img src="../images/frog-icon.png">
      </div>
    </div>
    <div class="content">
      <div class="map-content"><img src="../images/map.png" alt="mapa"></div>
      <div class="graduate-location" id="content-location" onclick="abrirPopup()">
        <div class="location-content"><img src="../images/location.png" alt="localização"></div>
        <div class="user-location-text">
          <p id="text">Jonas Forte</p>
        </div>
      </div>
      <div id="popup" class="popup">
        <div class="card">
          <div class="header-card">
            <div class="but"><button onclick="fecharPopup()">X</button></div>
            <div id="card-title">
              <h2>Brescia, Itália</h2>
            </div>
          </div>
          <div class="content">
            <div id="content-1">
              <div id="img-graduate">
              </div>
              <div id="info">
                <h3 id="Name">Jonas Forte</h3>
                <div class="desc-items">
                  <h5>Ano de formatura:</h5>
                  <p id="formate-year">2017</p>
                </div>
                <div class="desc-items">
                  <h5>Cargo Atual:</h5>
                  <p>UI Designer - Luxottica</p>
                </div>
                <!-- <div class="desc-items">
                  <p>Linkedin:</p>
                  <a id="acess" href="https://linkedin.com/in/jonasforte">Link</a>
                </div> -->
              </div>
            </div>
            <div id="content-2">
              <h3>Bio</h3>
              <p id="description">
                Sou apaixonado por interação homem-máquina, design de interfaces gráficas e inteligência artificial. Em
                2018, mudei-me para a Itália para fazer meu mestrado de engenharia em Tecnologias de Informação e
                Multimídia. Atualmente, trabalho na marca Sunglass Hut, em projetos de roadmap, campanhas de marcas
                licenciadas e internas.
              </p>
            </div>
            <div id="content-3">
              <h3>Qual o impacto do SMD na vida?</h3>
              <p id="description">Meu percurso acadêmico foi fundamental para meu crescimento pessoal e profissional,
                proporcionando-me a oportunidade de descobrir novas paixões e vivenciar experiências inesperadas.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>