<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Egressos</title>
  <link rel="icon" type="image/x-icon" href="../images/favico.png">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Rubik:wght@500&family=Staatliches&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="../styles/graduates.css">
  <script type="module" src="../scripts/graduates.js" defer></script>
  <script src="../scripts/data_graduates.js" defer></script>
  <script src="../scripts/script.js" defer></script>
</head>

<body>
  <header>
    <nav class="global-nav">
      <div class="logo-content"><a href="/PortfolioSMD/index.html"><img src="../source/smd.png" alt="logo do SMD"
            id="smd-logo"></a></div>
      <div class="global-menu-content">
        <ul class="global-menu">
          <li class="global-menu-item" alt="projetos"><a href="projects.html">PROJETOS</a></li>
          <li class="global-menu-item" alt="egressos"><a href="graduates.html">EGRESSOS</a></li>
          <li class="global-menu-item" alt="trilhas"><a href="trails.html">TRILHAS</a></li>
          </li>
      </div>
      <div class="global-menu-hamburguer">
        <div class="hamburquer-menu-content" id="hamburquer-menu-content">
          <ul class="global-menu">
            <li class="global-menu-item" alt="projetos"><a href="projects.html">PROJETOS</a></li>
            <li class="global-menu-item" alt="egressos"><a href="graduates.html">EGRESSOS</a></li>
            <li class="global-menu-item" alt="trilhas"><a href="trails.html">TRILHAS</a></li>
            <li class="global-menu-item" alt="fale conosco"><a href="contact.html">FALE CONOSCO</a></li>
            <li class="global-menu-item" alt="sobre nós"><a href="about.html">SOBRE NÓS</a></li>
          </ul>
        </div>
        <div class="toggle-btn" onclick="toggleMenu()">&#9776;</div>
      </div>
    </nav>
  </header>
  <main>
    <h1>EGRESSOS</h1>
    <div id="character-content">
      <div class="balloon">
        <p>Aqui você pode dar uma olhadinha onde os talentos de SMD estão pelo mundo afora!</p>
      </div>
      <div class="triangle"></div>
      <div id="img-frog">
        <img src="../images/frog_icon.png">
      </div>
    </div>
    <div class="content">
      <div class="map-content"><img src="../images/map.png" alt="mapa"></div>
      <div id="popup" class="popup">
        <div class="card">
          <div class="header-card">
            <div id="card-title">
              <h2 id="graduate-location"></h2>
            </div>
            <div id="but"><button>X</button></div>
          </div>
          <div class="content-card">
            <div id="content-1">
              <div id="img-graduate-card">
              </div>
              <div id="info">
                <h3 id="name-card"></h3>
                <div class="desc-items">
                  <h5>Ano de formatura:</h5>
                  <p id="graduate-year"></p>
                </div>
                <div class="desc-items">
                  <h5>Cargo Atual:</h5>
                  <p id="job"></p>
                </div>
                <!-- <div class="desc-items">
                  <p>Linkedin:</p>
                  <a id="acess" href="https://linkedin.com/in/jonasforte">Link</a>
                </div> -->
              </div>
            </div>
            <div id="content-2">
              <h3>Bio</h3>
              <p id="bio"></p>
            </div>
            <div id="content-3">
              <h3>Qual o impacto do SMD na vida?</h3>
              <p id="aboutSMD"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
</body>

</html>