<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Rubik:wght@500&family=Staatliches&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="../styles/project-item.css">
  <script type="module" src="../scripts/project-item.js" defer></script>
  <script src="../scripts/data.js" defer></script>
  <script src="../scripts/script.js" defer></script>
</head>

<body>
  <header>
    <nav class="global-nav">
      <div class="logo-content"><a href="/PortfolioSMD/index.html"><img src="../source/smd.png" alt="logo do SMD"
            id="smd-logo"></a></div>
      <div class="global-menu-content">
        <ul class="global-menu">
          <li class="global-menu-item" alt="projetos"><a href="projects.html">PROJETOS</a></li>
          <li class="global-menu-item" alt="egressos"><a href="graduates.html">EGRESSOS</a></li>
          <li class="global-menu-item" alt="trilhas"><a href="trails.html">TRILHAS</a></li>
        </ul>
      </div>
      <div class="global-menu-hamburguer">
        <div class="hamburquer-menu-content" id="hamburquer-menu-content">
          <ul class="global-menu">
            <li class="global-menu-item" alt="projetos"><a href="projects.html">PROJETOS</a></li>
            <li class="global-menu-item" alt="egressos"><a href="graduates.html">EGRESSOS</a></li>
            <li class="global-menu-item" alt="trilhas"><a href="trails.html">TRILHAS</a></li>
            <li class="global-menu-item" alt="fale conosco"><a href="contact.html">FALE CONOSCO</a></li>
            <li class="global-menu-item" alt="sobre nós"><a href="about.html">SOBRE NÓS</a></li>
          </ul>
        </div>
        <div class="toggle-btn" onclick="toggleMenu()">&#9776;</div>
      </div>
    </nav>
  </header>
  <main>
    <div id="content-1">
      <div id="demo">
        <!-- <iframe src="" frameborder="0" id="iframe" allowfullscreen></iframe>
        <img src="" id="img"></img> -->
      </div>
      <div id="info">
        <h1 id="title"></h1>
        <div class="desc-items">
          <h4>Realizado em:</h4>
          <p id="held-in"></p>
        </div>
        <div class="desc-items">
          <h4>Participantes:</h4>
          <p id="participants"></p>
        </div>
        <div class="desc-items">
          <h4><a id="acess">clique para acessar o projeto :)</a></h4>
        </div>
      </div>
    </div>
    <div id="content-2">
      <h3>Objetivo</h3>
      <div>
        <p id="description"></p>
      </div>
    </div>
  </main>
</body>

</html>