<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trilhas</title>
  <link rel="icon" type="image/x-icon" href="../images/favico.png">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Rubik:wght@500&family=Staatliches&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../styles/trails.css">
  <link rel="stylesheet" href="../styles/style.css">
  <script src="../scripts/script.js" defer></script>
  <script src="../scripts/trails.js" defer></script>
</head>

<body>
  <header>
    <nav class="global-nav">
      <div class="logo-content"><a href="/PortfolioSMD/index.html"><img src="../source/smd.png" alt="logo do SMD"
            id="smd-logo"></a></div>
      <div class="global-menu-content">
        <ul class="global-menu">
          <li class="global-menu-item" alt="projetos"><a href="../views/projects.html">PROJETOS</a></li>
          <li class="global-menu-item" alt="egressos"><a href="../views/graduates.html">EGRESSOS</a></li>
          <li class="global-menu-item" alt="trilhas"><a href="../views/trails.html">TRILHAS</a></li>
        </ul>
      </div>
      <div class="global-menu-hamburguer">
        <div class="hamburquer-menu-content" id="hamburquer-menu-content">
          <ul class="global-menu">
            <li class="global-menu-item" alt="projetos"><a href="projects.html">PROJETOS</a></li>
            <li class="global-menu-item" alt="egressos"><a href="graduates.html">EGRESSOS</a></li>
            <li class="global-menu-item" alt="trilhas"><a href="trails.html">TRILHAS</a></li>
            <li class="global-menu-item" alt="fale conosco"><a href="contact.html">FALE CONOSCO</a></li>
            <li class="global-menu-item" alt="sobre nós"><a href="about.html">SOBRE NÓS</a></li>
          </ul>
        </div>
        <div class="toggle-btn" onclick="toggleMenu()">&#9776;</div>
      </div>
    </nav>
  </header>
  <main>
    <div class="content">
      <div class="ballon-content">
        <div class="menu">
          <ul id="selecttrilhas" class="menu-trails">
            <li><a onclick="changeTrail(0)">
                <div class="menu-item" style="background-color: #F48050;">
                  <div class="img-content">
                    <img src="../images/trails/0.png" alt="ícone da trilha de audiovisual">
                  </div>
                  <p>AUDIOVISUAL</p>
                </div>
              </a></li>
            <li><a onclick="changeTrail(1)">
                <div class="menu-item" style="background-color: #D1302D;">
                  <div class="img-content">
                    <img src="../images/trails/1.png" alt="ícone da trilha de design">
                  </div>
                  <p>DESIGN</p>
                </div>
              </a></li>
            <li><a onclick="changeTrail(2)">
                <div class="menu-item" style="background-color: #5E3892;">
                  <div class="img-content">
                    <img src="../images/trails/2.png" alt="ícone da trilha de jogos">
                  </div>
                  <p>JOGOS</p>
                </div>
              </a></li>
            <li><a onclick="changeTrail(3)">
                <div class="menu-item" style="background-color: #1C1759;">
                  <div class="img-content">
                    <img src="../images/trails/3.png" alt="ícone da trilha de sistemas">
                  </div>
                  <p>SISTEMAS</p>
                </div>
              </a></li>
          </ul>
          <div id="selected"></div>
        </div>
        <div class="text-content">
          <h1 id="title">TRILHAS?!</h1>
          <div id="trail-description">
            <div id="original-description">
              <p>Calma! Eu posso te contar um pouco mais sobre elas, mas antes me ajude a escolher sobre qual falar
                primeiro...</p>
              <p><b>Selecione algum dos itens acima.</b></p>
            </div>
          </div>
        </div>
      </div>
      <div class="triangle"></div>
      <div class="img-owl-content">
        <img id="owl" src="../images/trails/coruja.png" alt="coruja">
      </div>
    </div>
  </main>
</body>
</html>